setuptools
wheel
pip>=24.0
streamlit
torch
transformers
pandas
altair
emoji
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
